body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 3px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Ajuste de ancho y estilo para las columnas */
.hora {
    width: 10%;
    text-align: center;
}

.partido {
    width: 40%; /* Ancho ajustado para hacerla menos ancha */
    text-align: left;
}

.idioma {
    width: 20%;  
    text-align: center;
}

.enlace {
    width: 10%; 
    text-align: center;
}

.deportes {
    width: 20%;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Estilo adicional para la columna de Hora en vertical */
td.hora {
    background-color: #e7e7e7;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

.hora-texto {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: inline-block;
}
